<div class="head_main">
        <div class="head_logo">
            <a href="/">
                <img src="./img/logo.jpg" alt="HT">
            </a>
            <h4 class="head_logo_text">Изучите программирование для работы</h4>
        </div>
        <div class="head_search d-flex-center">
            <div class="head_search_wrapper">
                <img src="./img/magnifying-glass-solid.svg" alt="HT" class="head_search_icon">
                <input class="head_search_input" placeholder="Ищите курсы, статьи, видео,...">
            </div>

        </div>
        <div class="head_login">
            <a href="https://accounts.fullstack.edu.vn/login" class="NavBar_loginBtn__5DxZL">Авторизоваться</a>
        </div>
    </div>