<div class="header-main">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.jpg" alt="HB" class="img_head">
        education
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="/new">Обучения</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/courses">Курс</a>
        </li>
      </ul>

      <div class="collapse navbar-collapse mr-4" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {{#if UserName}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{#if (Admin UserRole)}}
              <img src="/img/logo.jpg" alt="HB" class="img_head_min">
              {{else}}
              <img src="https://static.fullstack.edu.vn/static/media/fallback-avatar.155cdb2376c5d99ea151.jpg" alt="" class="img_head_min">
              {{/if}}
              {{UserName}}
            </a>
            
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{#if (Admin UserRole)}}
              <a class="dropdown-item" href="/me/create">Добавить курс</a>
              <a class="dropdown-item" href="/me/course/add">Добавить видео в курс</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/me/stored/courses">Мои курсы</a>
              <a class="dropdown-item" href="/me/stored/user">Список пользователей</a>
              {{else}}
              <a class="dropdown-item" href="/users/info">Мои данные</a>
              <a class="dropdown-item" href="/users/my/course">Мои курсы</a>
              {{/if}}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Выход</a>
            </div>
            
          </li>
          {{else}}
          <a class="btn btn-success" href="/login">Вход</a>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</div>