<div class="mt-4 ml-4 mb-4">
    <h3>Обновление пользователь</h3>

    <form class="mt-4" method="POST" action="/users/{{users._id}}?_method=PUT">

        <div class="form-group">
            <label for="name">Ф.И.О</label>
            <input type="text" class="form-control" value="{{users.nameUser}}" id="name" name="nameUser">
        </div>
        <div class="form-group">
            <label for="email">Электронный почта</label>
            <input type="text" class="form-control" value="{{users.email}}" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="text" class="form-control" value="{{users.password}}" id="password" name="password">
        </div>


        <button type="submit" class="btn btn-primary">Сохранять</button>
        
    </form>
</div>